//Mixins Only Desktop - Mobile 

//Mobile
@media (min-width:0px) and (max-width: 400px) {
    .header__texto__titulo {
        font-size: $xx-large;
    }

    .header__texto__subtitulo {
        font-size: $medium;
    }

    .header__texto {

        width: 100%;
        z-index: 1;
        padding: 0 8%;

    }

    .navegation__right-button,
    .navegation__right,
    .navegation__left {
        display: none !important;
    }

    .header__image,
    .grafico__back {
        display: none;
    }

    .grafico__text__titulo {
        font-size: $large;
    }

    .grafico__titulo {
        font-size: $x-large;
    }

    .grafico__grafico {
        width: 100%;
        padding: 36px 0px;
    }

    .grafico__grafico,
    .grafico__titulo {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .precios {
        padding: 0 10%;
        padding-bottom: 40px;
    }

    .precios__card {
        padding: 40px 20px;
        margin: 10% 0;
        width: 100%;
    }

    .precios__card__subtitulo {
        font-size: $xx-large;
    }

    .precios__card__lista {
        font-size: 16px;
        padding: 0 32px;
        ;
    }
    .animation{display: none;}

    .footer__lista__individual {
        padding: 4px 0px;
    }
}

@media (min-width:401px) and (max-width: 900px) {
    .header__texto__titulo {
        font-size: $xxxx-large;
    }

    .header__texto__subtitulo {
        font-size: $medium;
    }

    .header__texto {
        display: block;
        width: 100%;
        z-index: 1;

        padding: 0 8%;
        margin-top: 70px;

    }

    .navegation__right-button,
    .navegation__right,
    .navegation__left {
        display: none;
    }

    .header__image__svg {
        width: 100% !important
    }

    .header__image,
    .grafico__back {
        display: none;
    }

    .grafico__grafico,
    .grafico__titulo {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .grafico__div {
        margin: auto;
    }

    .precios {
        padding: 0 10%;
        padding-bottom: 40px;


    }

    .precios__card__lista {
        font-size: 16px;
        padding: 0 32px;
        ;
    }

    .precios__card {
        padding: 40px 20px;
        margin: 10% 0;
        width: 100%;
    }

    .precios__card__subtitulo {
        font-size: $xx-large;
    }
.animation{display: none;}


}


//Desktop
@media (min-width:901px) and (max-width: 2000px) {
    .header__texto__titulo {
        font-size: $xxxxx-large;
    }

    .header__texto__subtitulo {
        font-size: $medium;
    }

    .header__texto {
        display: block;
        width: 50%;
        z-index: 1;
        position: absolute;
        padding: 0 8%;
        top: 40%;
    }

    .navegation__right-small {
        display: none;
    }


    .header__image__svg {
        width: 100% !important
    }

    .header__image__no-mobile,
    .grafico__back__no-mobile {
        display: none;
    }

    .grafico__text {
        font-size: $xx-large;
        width: 80%;
        align-self: center;

    }

    .grafico__titulo {
        font-size: $xxx-large;
        text-align: center;
    }

    .grafico__grafico {
        margin: auto;
        padding: 36px 0px;
    }

    .grafico__text__parrafo {
        font-size: $medium;
    }

    .grafico__text,
    .grafico__grafico {
        display: inline-block;
    }

    .grafico__div {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .precios__card__titulo {
        font-size: $x-large;
    }

    .precios__card__subtitulo {
        font-size: $xxxx-large;
    }

    .precios__card__lista {
        font-size: $medium;
    }

    .precios__card {
        padding: 35px;
        margin: 0 36px;
        width: 42%;
    }

    .precios {
        padding: 0 15%;
        padding-bottom: 40px;
        display: flex;
    }

    .precios__titulo {
        font-size: $xxx-large;
        font-weight: $bold;
        padding-bottom: 40px;

    }

    .precios__card__lista {
        font-size: 16px;
        padding: 0 32px;
        ;
    }
    .animation {

        position: absolute;
        animation: mymove 10s infinite;
        float: right;
        margin: 230px 0;
        z-index: -2;
        width: 150px;
    }

    .footer__lista__individual {
        padding: 26px 14px;
    }
    
    @keyframes mymove {
        0% {
            top: 0px;
            right: 0px;
           
        }
    
        50% {
            top: 0px;
            right: 500px;
        }
    
        100% {
            top: 0px;
            right: 0px;
        }
    }
}






