//Color Fonts
$white:#fff;
$platinum:#E8E8E8;
$gray:#bababa;

$dark-salmon:#ee9480;
$melon:#f4baae;
$pale-pink:#fadfda;

$ball-blue:#2ab7ca;
$middle-blue:#77d1dd;
$blue-laggon:#b1e4eb;

$onyx:#333745;
$spanish-gray:#8f9199;
$lavender-gray:#c7c8cc;

$raisin-black:#221d23;
$nickel:#726f73;
$silver-chalice:#aeacaf;


//Variables Font Family

$regular:400;
$bold:700;