.footer__lista {
    color: $silver-chalice;
    padding: 0 10%;
    background-color: $raisin-black;
   list-style-type: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
}


.footer {
    background-color: $raisin-black;
}

